* {
    font-family: "Roboto";
}

/* 
#background {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(100% 150% at 50% -35%, rgba(14, 16, 21, 0) 0%, rgb(14, 16, 21, 0.75) 100%), linear-gradient(180deg, rgba(14, 16, 21, 0) -35%, rgba(14, 16, 21, 0.375) 100%), linear-gradient(180deg, rgba(14, 16, 21, 0.375) -35%, rgba(14, 16, 21, 0) 100%), url(https://tutorlol.com/img/centered/Neeko_0.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(0.25);
    z-index: -50;
}
*/

body {
    background-color: #121212;
}

table {
    color: white;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

table th,
table td {
    transition: 0.2s ease;
    padding: 7.5px;
}

table thead tr {
    background-color: #1F1F1F;
}

table tbody tr:nth-child(even) {
    background-color: #242427;
    border-bottom: 1px solid #525252;
    border-top: 1px solid #525252;
}

table tbody tr:nth-child(odd) {
    background-color: #1c1917;
}

table img {
    height: 32px;
    min-width: 32px;
    box-shadow: 0px 0px 10px 0px #0f0f0f;
}

.shade {
    box-shadow: 0px 0px 10px 0px #080808;
}

.dropshadow,
table p {
    text-wrap: nowrap;
    filter: drop-shadow(0px 0px 1px black);
    text-shadow: 0px 1.25px 0px black;
}

table span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

table h2 {
    position: absolute;
    font-weight: bold;
    filter: drop-shadow(1.25px 1.25px 0px black);
    text-shadow: 0px 0px 4px black;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: #313131;
}

::-webkit-scrollbar-thumb {
    background-color: #4e566b;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2563eb;
}

::-webkit-scrollbar-track {
    background-color: #303030;
}